**/.git
**/.gitignore
**/.dockerignore
**/Dockerfile*
**/docker-compose*.yml

**/bin
**/obj
**/out
**/publish
**/artifacts

**/.vs
**/.vscode
**/.idea

**/*.user
**/*.suo
**/*.userosscache

TestForPromoOS.Tests/

**/appsettings.Local.json
**/secrets.json
**/.env
